.game_wrapper{
    width: 300px;
    height: 300px;
    position: relative;
}

.game_container{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: end;
}

.info_btn{
    opacity: 0;
}

.game_wrapper:hover .info_btn{
    opacity: 1;
}

.info_btn a:hover{
    color: #fff;
    text-decoration: underline;
}

.info_btn{
    width: 150px;
    height: 35px;
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 20px;
}

.button {
    position: absolute;
    top: -20px;
    right: -20px;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.game_wrapper:hover .button{
    opacity: 1;
}

.button_cross {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #fff;
}
  
  